body {
  color: #fff;
  box-sizing: border-box;
  background-color: rgb(0 0 0 / 85%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
*{
  box-sizing: border-box;
}

.calc {
  background-color: black;
  border-radius: 10px;
  box-shadow: 4px 4px 4px black;
  max-width: 300px;
  width: 100%;
  height: 500px;
  margin: auto;
}

.calc-screen {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px 20px;
  font-size: 50px;
  width: 300px;
  overflow: auto;
}

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0 5px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #333;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
  font-size: 26px;
  user-select: none;
}
.fz{
  font-size: 30px;
}
.fz-small {
  font-size: 24px;
}
.btn:hover {
  filter: brightness(140%);
}

.btn:active {
  filter: brightness(80%);
}

.orange {
  background-color: rgb(255, 119, 0);
}

.null {
  grid-column: span 2;
  max-width: 130px;
  border-radius: 35px;
  width: 100%;
}

.grey {
  background-color: #a6a6a6;
}

@media(max-width: 320px) {
  .calc {
    max-width: 300px;
    height: 500px;
    margin: 0 auto;
  }

  .btn {
    width: 55px;
    height: 55px;
  }

  .null {
    max-width: 140px;
    width: 100%;
  }
}